* {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}
#techwave {
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.top_nav {
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.frame {
    color: white;
    font-size: small;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

#btn {
    color: white;
    font-size: 12px;
    margin-right: 100px;
    padding: 8px 15px;
    border-radius: 20px;
    background: linear-gradient(30deg, #eeff00, #d61ba7 , rgb(149, 6, 237));

}

#header {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.frame2 {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.frame2 h1 {
    margin-bottom: 12px;
}

.frame2 p {
    font-size: 10px;
}

.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.circle {
    width: 100%;
    height: 100%;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
    height: 175px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.spotify {
  color: white;
  background: linear-gradient(30deg, #eeff00, #d61ba7 , rgb(149, 6, 237));
  padding: 10px 20px;
  border-radius: 30px;
}

.subs {
  background: transparent;
  border: 1px solid #00ff88;
  padding: 10px 20px;
  border-radius: 30px;
  color: #00ff88;
}