* {
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}
#techwave {
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.top_nav {
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.frame {
    color: white;
    font-size: small;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

#btn {
    color: white;
    font-size: 12px;
    margin-right: 100px;
    padding: 8px 15px;
    border-radius: 20px;
    background: linear-gradient(30deg, #eeff00, #d61ba7 , rgb(149, 6, 237));

}

#header {
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.frame2 {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.frame2 h1 {
    margin-bottom: 12px;
}

.frame2 p {
    font-size: 10px;
}

.logo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.circle {
    width: 100%;
    height: 100%;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 116px;
    height: 175px;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.spotify {
  color: white;
  background: linear-gradient(30deg, #eeff00, #d61ba7 , rgb(149, 6, 237));
  padding: 10px 20px;
  border-radius: 30px;
}

.subs {
  background: transparent;
  border: 1px solid #00ff88;
  padding: 10px 20px;
  border-radius: 30px;
  color: #00ff88;
}
.apps{
   background-color: #1A0B2E;
  
}
.para {
    color: white;
 text-align: center;
}
.para p{
    padding:6px;
    font-weight:lighter;
    font-size: 10px;
    
}
.line {
  height: 1px;
  background-color: rgb(91, 90, 90);
  margin: 20px 200px;
}
.frame3{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.frame3 h2{
    font-size: 3em;
    color: #00ff88;
    text-align: center;
    padding-bottom: 10px;
}
.apps2{
    color: white;
    background-color: #230E3D;
    padding-bottom: 100px;

}
.apps2 h2{
        text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 2em;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;  

}
.card {
  background-color: #321952;
  border-radius: 20px;
  padding: 28px;
  margin-right: 150px;
}
.tall_card{
    grid-row: span 2;
    background-color: #321952;
  border-radius: 20px;
  padding: 28px;
  margin-left: 150px;
}
.wide_card{
    grid-column: span 2;
        background-color: #321952;
  border-radius: 20px;
  padding: 28px;
  margin-right: 150px;
}
.wide_card2{
  grid-column: span 2;
  background-color: #321952;
  border-radius: 20px;
  padding: 28px;
  margin-left: 150px;
}
.grid p,.cards p{
    color: rgb(161, 160, 160);
}
.grid h3,.cards h3{
    padding-top: 15px;
    font-size: 1.7em;
    padding-bottom: 15px;
}
.apps3{
    background-color: #1A0B2E;
    color: white;
}
.apps3 h1{
    padding-top: 120px;
    text-align: center;
    padding-bottom: 30px;
}
.container{
 display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px 150px;
}
.cards{
    background-color: #321952;
    border-radius: 10px;
    
}
.cards h3,.cards p{
    padding: 20px;
}
.video{
   border-radius: 10px 10px 0 0;
   width: 100%;
}
.thumbnail{
    position:relative;
    display: block;
}
.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(30deg, #eeff00, #d61ba7 , rgb(149, 6, 237));
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
#img2 ,#img3{
    height: 215px;
}
.host{
   padding-bottom: 120px;
}
.host h1{
    font-size: 2.5em;
}
.info{
     display: flex;
     gap: 20px;
     background-color: #321952;
     padding: 20px;
     margin-left: 150px;
     margin-right: 150px;
     border-radius: 30px;
}
.info h3{
    padding-top: 20px;
    font-size: 1.5em;
}
.info p{
    padding-top: 20px;
    color: gray;
}
.icon{
    display: flex;
}
.icon_circle {
    border: 1px solid grey;
    border-radius: 50%; 
    width: 30px;             
    height: 30px;     
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin: 5px;           
}


